<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Answer Options</title>
  </head>
  <body>
    <h2>Answer options of "<span th:text="${question.text}"></span>"</h2>

    <table border="1" cellpadding="5">
      <thead>
        <tr>
          <th>Answer option text</th>
          <th>Correctness</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="answer : ${answers}">
          <td th:text="${answer.text}"></td>
          <td th:text="${answer.correct ? 'Correct' : 'Not correct'}"></td>
        </tr>
      </tbody>
    </table>

    <br />

    <a th:href="@{'/teacher/questions/' + ${question.id} + '/answers/add'}">
      <button>Add an answer option</button>
    </a>
    <a th:href="@{/teacher/questions}">
      <button>Back to questions</button>
    </a>
  </body>
</html>
